## Challenge 184: Department Highest Salary

Table: Employee


| Column Name  | Type    |
|--------------|---------|
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |

id is the primary key (column with unique values) for this table.
departmentId is a foreign key (reference columns) of the ID from the Department table.
Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.
 

Table: Department


| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |

id is the primary key (column with unique values) for this table. It is guaranteed that department name is not NULL.
Each row of this table indicates the ID of a department and its name.
 

Write a solution to find employees who have the highest salary in each of the departments.

Return the result table in any order.

The result format is in the following example.

Example 1:

Input: 
Employee table:

| id | name  | salary | departmentId |
|----|-------|--------|--------------|
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |

Department table:

| id | name  |
|----|-------|
| 1  | IT    |
| 2  | Sales |

Output: 

| Department | Employee | Salary |
|------------|----------|--------|
| IT         | Jim      | 90000  |
| Sales      | Henry    | 80000  |
| IT         | Max      | 90000  |

Explanation: Max and Jim both have the highest salary in the IT department and Henry has the highest salary in the Sales department.

### Solution

In [1]:
import pandas as pd

In [21]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    merge = pd.merge(employee,department,left_on='departmentId',right_on='id',how='inner')
    dept_sal = merge.groupby(by=['name_y','departmentId']).aggregate({'salary':'max'}).reset_index().rename(columns={'name_y':'Department'})
    result = pd.merge(employee,dept_sal,left_on='departmentId',right_on='departmentId',how='inner').rename(columns={'name':'Employee','salary_x':'Salary'})
    return result[result['Salary']==result['salary_y']][['Department','Employee','Salary']]

### Testing

In [3]:
employee = pd.DataFrame({
    'id': [1,2,3,4,5],
    'name': ['Joe','Jim','Henry','Sam','Max'],
    'salary': [70000, 90000, 80000, 60000,90000],
    'departmentId':[1,1,2,2,1]
})

department = pd.DataFrame({
    'id': [1,2],
    'name': ['IT','Sales']
})

In [22]:
department_highest_salary(employee,department)

  Department Employee  Salary
1         IT      Jim   90000
2         IT      Max   90000
3      Sales    Henry   80000