## Challenge 183: Customers Who Never Order

Table: Customers


| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |

id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
 

Table: Orders


| Column Name | Type |
|-------------|------|
| id          | int  |
| customerId  | int  |

id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
 

Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.

Example 1:

Input: 
Customers table:

| id | name  |
|----|-------|
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |

Orders table:

| id | customerId |
|----|------------|
| 1  | 3          |
| 2  | 1          |

Output: 

| Customers |
|-----------|
| Henry     |
| Max       |

## Solution

In [1]:
import pandas as pd

In [20]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    merge_df = pd.merge(customers,orders, left_on='id',right_on='customerId',how='left')
    no_order_customers = merge_df[merge_df['customerId'].isna()][['name']]
    no_order_customers = no_order_customers.rename(columns={'name': 'Customers'})
    return no_order_customers

In [21]:
customers = pd.DataFrame({
    'id': [1,2,3,4],
    'name': ['Joe','Henry','Sam','Max']
})

orders = pd.DataFrame({
    'id': [1,2],
    'customerId': [3,1]    
})

In [22]:
find_customers(customers,orders)

  Customers
1     Henry
3       Max