## Challenge 570: Managers with at least 5 Direct Reports

Table: Employee


| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |

id is the primary key (column with unique values) for this table.
Each row of this table indicates the name of an employee, their department, and the id of their manager.
If managerId is null, then the employee does not have a manager.
No employee will be the manager of themself.
 

Write a solution to find managers with at least five direct reports.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:

| id  | name  | department | managerId |
|-----|-------|------------|-----------|
| 101 | John  | A          | null      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |

Output: 

| name |
|------|
| John |

### Solution

In [1]:
import pandas as pd

In [ ]:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    #Group by manager ID, then count how many employees reported to that manager ID
    manager_count = employee.groupby(by='managerId').agg(manager_count=('managerId','count')).reset_index()
    #Merge that table with the original table, to find the name of the manager with number of reports >=5
    result = pd.merge(employee,manager_count,left_on='id',right_on='managerId',how='inner')
    return result[result['manager_count']>=5][['name']]

In [ ]:
#Another way from other Solver, in opposite way:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    #Group by manager ID and count number of employee
    m = employee.groupby('managerId')['id'].count()
    #filter data if number of employees is >=5
    m = m[m>=5]
    #get the index
    s = set(m.index)

    #then, check the employee table with the id in the s table above to find the name of manager
    return employee[employee['id'].isin(s)][['name']]

In [13]:
data = pd.DataFrame({
    'id': [101,102,103,104,105,106],
    'name': ['John','Dan','James','Amy','Anne','Ron'],
    'department': ['A','A','A','A','A','B'],
    'managerId': [None,101,101,101,101,101]
})

In [14]:
find_managers(data)

   name
0  John