## Challenge 177: Nth Highest Salary

Table: Employee


| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the nth highest distinct salary from the Employee table. If there are less than n distinct salaries, return null.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

n = 2
Output: 

| getNthHighestSalary(2) |
|------------------------|
| 200                    |

Example 2:

Input: 
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |

n = 2
Output: 

| getNthHighestSalary(2) |
|------------------------|
| null                   |

### Solution

In [1]:
import pandas as pd

In [ ]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    #drop all duplicates values on salary and sort it by descending
    df = employee['salary'].drop_duplicates().sort_values(ascending=False)
    #if the length of the above data frame after remove duplicate is less than Nth input or Nth input is <0, then return None
    if len(df) < N or N<=0:
        return pd.DataFrame({f'getNthHighestSalary({N})': [None]})
    else:
    #else get the salaries at the location N-1 and print it out
        n_salaries = df.iloc[N -1]
        return pd.DataFrame({f'getNthHighestSalary({N})': [n_salaries]})

In [25]:
data = pd.DataFrame({
    'id': [1,2,3],
    'salary': [100, 200, 300]
})

In [26]:
data.head(2)

   id  salary
0   1     100
1   2     200

In [28]:
nth_highest_salary(data,2)

   getNthHighestSalary(2)
0                     200