### Challenge 586: CUstomer Placing the Largest Number of Orders

Table: Orders


| Column Name     | Type     |
|-----------------|----------|
| order_number    | int      |
| customer_number | int      |

order_number is the primary key (column with unique values) for this table.
This table contains information about the order ID and the customer ID.
 

Write a solution to find the customer_number for the customer who has placed the largest number of orders.

The test cases are generated so that exactly one customer will have placed more orders than any other customer.

The result format is in the following example.

 

Example 1:

Input: 
Orders table:

| order_number | customer_number |
|--------------|-----------------|
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |

Output: 

| customer_number |
|-----------------|
| 3               |

Explanation: 
The customer with number 3 has two orders, which is greater than either customer 1 or 2 because each of them only has one order. 
So the result is customer_number 3.

### Solution

In [1]:
import pandas as pd

In [14]:
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    count_cust = (
        orders.groupby('customer_number')
        .size()
        .reset_index(name='order_count')
        .sort_values(by='order_count', ascending=False)
    )
    return count_cust.head(1)

In [15]:
data = pd.DataFrame({
    'order_number': [1,2,3,4],
    'customer_number': [1,2,3,3]
})

In [16]:
largest_orders(data)

   customer_number  order_count
2                3            2

In [13]:
data.groupby(by='customer_number').aggregate({'customer_number':'count'}).reset_index().sort_values(ascending=False)

ValueError: cannot insert customer_number, already exists