## Challenge 176: Second Highest Salary

Table: Employee


| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

 

Example 1:

Input: 
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

Output: 

| SecondHighestSalary |
|---------------------|
| 200                 |

Example 2:

Input: 
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |

Output: 

| SecondHighestSalary |
|---------------------|
| null                |

### Solution

In [1]:
import pandas as pd

In [36]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    df = employee['salary'].drop_duplicates().sort_values(ascending=False)
    if len(df)<=1:
        return pd.DataFrame({f'SecondHighestSalary': [None]})
    else:
        return pd.DataFrame({f'SecondHighestSalary': [df.iloc[1]]})

In [37]:
data = pd.DataFrame({
    'id': [1,2,3],
    'salary': [100, 200,300]
})

In [38]:
result = data['salary'].sort_values(ascending=False).iloc[1]

In [39]:
second_highest_salary(data)

   SecondHighestSalary
0                  200