## Challenge 596: Classes With at Least 5 Students

Table: Courses


| Column Name | Type    |
|-------------|---------|
| student     | varchar |
| class       | varchar |

(student, class) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates the name of a student and the class in which they are enrolled.
 

Write a solution to find all the classes that have at least five students.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Courses table:

| student | class    |
|---------|----------|
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |

Output: 

| class   |
|---------|
| Math    |

Explanation: 
- Math has 6 students, so we include it.
- English has 1 student, so we do not include it.
- Biology has 1 student, so we do not include it.
- Computer has 1 student, so we do not include it.

### Solution

In [1]:
import pandas as pd

In [2]:
def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    result = courses.groupby(by='class').aggregate({'student':'count'}).reset_index()
    return result[result['student']>=5][['class']]

In [14]:
data = pd.DataFrame({
    'student':['A','B','C','D','E','F','G','H','I'],
    'class': ['Math','English','Math','Biology','Math','Computer','Math','Math','Math']
})

In [15]:
find_classes(data)

  class
3  Math